<div>

  <table class="table table-condensed sqltable-table">
    <tr>
      <th class="header" colspan="{{data.columnNames.length}}">
        <div class="query">
          <span ng-click="toggleQueryInput()">{{queryString()}}</span>
          <button type="button" class="btn bt-default btn-xs" ng-click="seeAll()"><span class="glyphicon glyphicon-asterisk"></span></button>
        </div>
        <form class="form form-inline" ng-show="showControls">
          <div class="form-group">
            <label>Select</label>
            <textarea rows="3" placeholder="select" ng-model="select" class="form-control sqltable-select" ng-keyup="updateQuery()"></textarea>
          </div>
          <div class="form-group">
            <label>From</label>
            <textarea rows="3" ng-model="from" class="form-control sqltable-from" ng-keyup="updateQuery()"></textarea>
          </div>
          <div class="form-group">
            <label>Where</label>
            <textarea rows="3" ng-model="where" class="form-control sqltable-where" ng-keyup="updateQuery()"></textarea>
          </div>
          <div class="form-group">
            <label>Group by</label>
            <textarea rows="3" ng-model="groupBy" class="form-control sqltable-group-by" ng-keyup="updateQuery()"></textarea>
          </div>
          <div class="form-group">
            <label>Order by</label>
            <textarea rows="3" ng-model="orderBy" class="form-control sqltable-order-by" ng-keyup="updateQuery()"></textarea>
          </div>
        </form>
        <div class="error-message">
          {{error}}
        </div>
      </th>
    </tr>

    <tr>
      <th ng-repeat="columnName in data.columnNames" ng-dblclick="toggleGroupBy($index)">{{columnName}}</th>
    </tr>

    <tbody ng-repeat="row in data.rows">
      <tr>
        <td ng-repeat="col in row track by $index" ng-dblclick="toggleExpandRow($parent.$index, $index)">{{col}}</td>
      </tr>
      <tr ng-if="rowSubQueries[$index]">
        <td colspan="{{row.length}}">
          <sqltable-wrapper query="{{rowSubQueries[$index]}}"></sqltable-wrapper>
        </td>
      </tr>
    </tbody>
  </table>
</div>
