<div>
  <label>Query</label>
  <input style="width:100%;" class="sqltable-query" ng-model="queryInProgress" ui-keypress="{'enter': 'updateQuery($event)'}"></input>
  <div class="query">{{query}}</div>
  <table class="sqltable-table">
    <tr>
      <th ng-repeat="columnName in data.columnNames">{{columnName}}</th>
    </tr>
    <tr ng-repeat="row in data.rows">
      <td ng-repeat="col in row track by $index" ng-dblclick="expandGroup($parent.$index, $index)">{{col}}</td>
    </tr>
  </table>
</div>
