<div>
  <label>Select</label>
  <textarea ng-model="select" class="sqltable-select" ng-keyup="updateQuery()"></textarea>

  <label>From</label>
  <textarea ng-model="from" class="sqltable-from" ng-keyup="updateQuery()"></textarea>

  <label>Where</label>
  <textarea ng-model="where" class="sqltable-where" ng-keyup="updateQuery()"></textarea>

  <label>Group by</label>
  <textarea ng-model="groupBy" class="sqltable-group-by" ng-keyup="updateQuery()"></textarea>

  <label>Order by</label>
  <textarea ng-model="orderBy" class="sqltable-order-by" ng-keyup="updateQuery()"></textarea>

  <div class="query">Query: <strong>{{queryString()}}</strong></div>

  <table class="table table-condensed sqltable-table">
    <tr>
      <th ng-repeat="columnName in data.columnNames">{{columnName}}</th>
    </tr>

    <tbody ng-repeat="row in data.rows">
      <tr>
        <td ng-repeat="col in row track by $index" ng-dblclick="toggleExpandRow($parent.$index, $index)">{{col}}</td>
      </tr>
      <tr ng-if="rowSubQueries[$index]">
        <td colspan="{{row.length}}">
          <sqltable-wrapper query="{{rowSubQueries[$index]}}"></sqltable-wrapper>
        </td>
      </tr>
    </tbody>
  </table>
</div>
